.bl-background {
    background: #cdcbcb;
    padding: 1%;
    /*display: inline-block;*/
    min-width: 700px;
    width: 60%;
    height: auto;
    margin: auto;
    margin-top: 5%;
    border-radius: 20px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /*align-items: center;*/
}

    .bl-list {
        background: white;
        padding-top: 0.5%;
        padding-bottom: 0.5%;
        padding-right: 0.5%;
        padding-left: 0.5%;
        /*margin-bottom: 10px;*/
        margin-right: 3%;
        border-radius: 20px;
        display: inline-block;
        width: 55%;
        float: left;
    }
        .bl-list-add-line {
            width: 100%;
            border-radius: 20px;
        }
        .bl-add-product {
            border-bottom-style: solid;
            border-bottom-width: 2px;
            border-bottom-color: #000000;
            padding: 5px;
            /*margin: 5px;*/

        }
            .bl-text-add-field {
                display: inline-block;
                width: 80%;
            }

        .bl-row {
            border-bottom-style: solid;
            border-bottom-width: 1px;
            border-bottom-color: #b4b2b2;
            padding: 5px;
        }

            .bl-product {
                display: inline-block;
                width: 40%;
                border-radius: 20px;
            }

            .bl-count {
                display: inline;
                border-radius: 20px;
                font-size: 20px;
            }

    .bl-bought {
        background: white;
        padding: 0.5%;
        display: inline-block;
        border-radius: 20px;
        width: 40%;
        float: right;
    }
        .bl-title-not-bought {
            display: block;
            margin-bottom: 2%;
            padding: 2%;
            border-bottom-style: solid;
            border-bottom-width: 1px;
            border-bottom-color: #b4b2b2;
            font-size: 22px;
            font-weight: bolder;
        }
        .bl-title-bought {
            display: block;
            margin-bottom: 2%;
            margin-top: 2%;
            padding: 2%;
            border-top-style: solid;
            border-bottom-style: solid;
            border-top-width: 1px;
            border-bottom-width: 1px;
            border-top-color: #b4b2b2;
            border-bottom-color: #b4b2b2;
            font-size: 22px;
            font-weight: bolder;
        }

        .bl-bought-goods {
            display: inline;
            margin-left: 2%;
            margin-right: 1%;
            border-radius: 20px;
        }
        .bl-not-bought-goods {
            display: inline;
            margin-left: 2%;
            margin-right: 1%;
            border-radius: 20px;
        }

        .bl-goods {
            background-color: #dddbdb;
            padding: 3px;
            margin-right: 3%;
            border-radius: 20px;
        }
            .bl-amount {
                background-color: orange;
                padding-left: 3px;
                padding-right: 3px;
                border-radius: 50%;
            }
.bl-badge {
    position: fixed;
    left: 40px;
    bottom: -77px;
    background: #962aff;
    width: 125px;
    height: 100px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border: solid;
    border-color: #962aff;
    border-width: 2px;
    text-align: center;
    font-size: 20px;
    color: white;
    transition: transform 1.5s ease;
}

.bl-badge:hover {
   transform: translate(0, -50px);
    /*bottom: -25px;*/
    background: #e6e687;
}

/*Кнопки*/
.bl-label {
    background: #cdcbcb;
    display: inline;
    padding-right: 3px;
    padding-left: 3px;
    border-radius: 50%;
}
.bl-plus {
    background: #04a613;
    display: inline;
    border-radius: 20px;
}
.bl-minus {
    background: #ff1719;
    display: inline;
    border-radius: 20px;
}

.bl-add {
    display: inline;
    font-size: 20px;
    /*width: 15%;*/
    /*float:right;*/

}

.bl-buttons {
    display: inline;
    float:right;
    border-radius: 20px;
}

.bl-bought-item {
    display: inline;
}

.bl-remove-item {
    background: #ff1719;
    display: inline;
    border-radius: 20px;
}

/*Print*/
@media print {
    .badge .bl-badge-title {
        display: none;
    }
    .badge {
        color: black;
        border: 3px;
        transform: translate(0, -50px);
    }
}