.bl-background {
    background: #cdcbcb;
    padding: 1%;
    /*display: inline-block;*/
    min-width: 700px;
    width: 60%;
    height: auto;
    margin: auto;
    margin-top: 5%;

    display: flex;
    flex-wrap: wrap; /* optional. only if you want the items to wrap */
    justify-content: center; /* for horizontal alignment */
    /*align-items: center; !* for vertical alignment *!*/
}

    .bl-list {
        background: white;
        padding-top: 0.5%;
        padding-bottom: 0.5%;
        padding-right: 0.5%;
        padding-left: 0.5%;
        /*margin-bottom: 10px;*/
        margin-right: 3%;
        display: inline-block;
        width: 55%;
        float: left;
    }
        .bl-add-product {
            border-bottom-style: solid;
            border-bottom-width: 2px;
            border-bottom-color: #000000;
            padding: 5px;

        }
            .bl-text-add-field {
                display: inline-block;
                width: 85%;
            }

        .bl-row {
            border-bottom-style: solid;
            border-bottom-width: 1px;
            border-bottom-color: #b4b2b2;
            padding: 5px;
        }

            .bl-product {
                display: inline-block;
                width: 40%;
            }

            .bl-count {
                display: inline;
            }

    .bl-bought {
        background: white;
        padding: 0.5%;
        display: inline-block;
        width: 40%;
        float: right;
    }
        .bl-title {
            display: inline;
        }

        .bl-bought-goods {
                     display: inline;
                 }
        .bl-not-bought-goods {
            display: inline;
        }

        .bl-goods {

        }
            .bl-amount {
                background-color: orange;
            }
/*Кнопки*/
.bl-label {
    background: #cdcbcb;
    display: inline;
}
.bl-plus {
    background: #04a613;
    display: inline;
}
.bl-minus {
    background: #ff1719;
    display: inline;
}

.bl-add {
    display: inline;
    width: 14%;
}

.bl-buttons {
    display: inline;
    float:right;
}

.bl-bought-item {
    display: inline;
}

.bl-remove-item {
    background: #ff1719;
    display: inline;
}